{
  "openapi": "3.1.0",
  "info": {
    "title": "Depict API",
    "version": "1.0"
  },
  "servers": [
    {
        "url": "https://api.depict.ai"
    }
  ],
  "paths": {
    "/v2/search/results": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Get Results",
        "description": "Used to get search results that match the given query. Has support for filtering and\nsorting.\n\nExample response:\\n<pre>\\n{\\n   \\\"n_hits\\\": 1,\\n   \\\"displays\\\": [\\n     {\\n         \\\"product_id\\\": \\\"foobar\\\",\\n         \\\"title\\\": \\\"Foobar\\\"\\n     }\\n   ],\\n   \\\"sorts\\\": [\\n     {\\n       \\\"field\\\": \\\"_relevance\\\",\\n       \\\"order\\\": \\\"desc\\\",\\n       \\\"meta\\\": {\\n         \\\"title\\\": \\\"Relevance\\\",\\n         \\\"values\\\": [\\n           \\\"desc\\\"\\n         ],\\n         \\\"names\\\": [\\n           \\\"Relevance\\\"\\n         ]\\n       }\\n     },\\n     {\\n       \\\"field\\\": \\\"title\\\",\\n       \\\"order\\\": \\\"asc\\\",\\n       \\\"meta\\\": {\\n         \\\"title\\\": \\\"Title\\\",\\n         \\\"values\\\": [\\n           \\\"asc\\\",\\n           \\\"desc\\\"\\n         ],\\n         \\\"names\\\": [\\n           \\\"A-Z\\\",\\n           \\\"Z-A\\\"\\n         ]\\n       }\\n     }\\n   ],\\n   \\\"filters\\\": [\\n     {\\n       \\\"field\\\": \\\"sale_price\\\",\\n       \\\"op\\\": \\\"inrange\\\",\\n       \\\"data\\\": [\\n         0,\\n         2500\\n       ],\\n       \\\"meta\\\": {\\n         \\\"group_title\\\": \\\"Price\\\",\\n         \\\"type\\\": \\\"range\\\",\\n         \\\"min\\\": 0,\\n         \\\"max\\\": 2500,\\n         \\\"currency\\\": \\\"EUR\\\"\\n       },\\n       \\\"id\\\": \\\"price0\\\"\\n     },\\n     {\\n       \\\"field\\\": \\\"color_name\\\",\\n       \\\"op\\\": \\\"in\\\",\\n       \\\"meta\\\": {\\n         \\\"group_title\\\": \\\"Color\\\",\\n         \\\"type\\\": \\\"checkbox\\\",\\n         \\\"values\\\": [\\n           \\\"Blue\\\",\\n           \\\"Black\\\",\\n           \\\"Brown\\\"\\n         ]\\n       },\\n       \\\"id\\\": \\\"colors1\\\"\\n     }\\n   ],\\n   \\\"search_request_id\\\": \\\"1a278f4a-16eb-4d95-a002-88bd305493d4\\\",\\n   \\\"cursor\\\": \\\"eyJjIjogMSwgInIiOiAwfQ==\\\"\\n }\\n </pre>\\n\\n Example request body for applying a filter:\\n <pre>\\n {\\n    \\\"tenant\\\": \\\"foobar\\\"\\n    \\\"market\\\": \\\"en\\\",\\n    \\\"limit\\\": 20,\\n    \\\"query\\\": \\\"hoodie\\\",\\n    \\\"filters\\\": [\\n        {\\n            \\\"field\\\": \\\"color_name\\\",\\n            \\\"op\\\": \\\"in\\\",\\n            \\\"data\\\": [\\\"Blue\\\"]\\n        }\\n    ]\\n }\\n </pre>",
        "operationId": "Get_results_v2_search_results_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "SearchRequest",
                "required": [
                  "tenant",
                  "market"
                ],
                "type": "object",
                "properties": {
                  "cursor": {
                    "title": "Cursor",
                    "maxLength": 500,
                    "type": "string",
                    "description": "Used for cursor-based pagination. Set it to the cursor from the last response. If not set, will return the first results.",
                    "bq_type": "STRING"
                  },
                  "limit": {
                    "title": "Limit",
                    "maximum": 100,
                    "minimum": 1,
                    "type": "integer",
                    "description": "Maximum number of results per response.",
                    "bq_type": "INTEGER"
                  },
                  "tenant": {
                    "title": "Tenant",
                    "type": "string",
                    "bq_type": "STRING"
                  },
                  "market": {
                    "title": "Market",
                    "type": "string",
                    "bq_type": "STRING"
                  },
                  "filters": {
                    "title": "Filters",
                    "type": "array",
                    "items": {
                      "title": "SearchFilter",
                      "required": [
                        "field",
                        "op"
                      ],
                      "type": "object",
                      "properties": {
                        "field": {
                          "title": "Field",
                          "type": "string",
                          "description": "The field to filter by.",
                          "bq_type": "STRING"
                        },
                        "op": {
                          "title": "Op",
                          "enum": [
                            "eq",
                            "neq",
                            "in",
                            "nin",
                            "leq",
                            "geq",
                            "inrange"
                          ],
                          "type": "string",
                          "description": "The operation used for filtering. The filtering should be read as `field op data`, for example `brand in [\\\"Nike\\\", \\\"Adidas\\\"]`.",
                          "bq_type": "STRING"
                        },
                        "data": {
                          "title": "Data",
                          "anyOf": [
                            {
                              "enum": [
                                "true",
                                "false"
                              ],
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "integer"
                            },
                            {
                              "type": "string"
                            },
                            {
                              "maxItems": 2,
                              "minItems": 2,
                              "type": "array",
                              "items": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            },
                            {
                              "maxItems": 2,
                              "minItems": 2,
                              "type": "array",
                              "items": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            {
                              "maxItems": 2,
                              "minItems": 2,
                              "type": "array",
                              "items": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            },
                            {
                              "maxItems": 2,
                              "minItems": 2,
                              "type": "array",
                              "items": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "enum": [
                                      "true",
                                      "false"
                                    ],
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "maxItems": 2,
                                    "minItems": 2,
                                    "type": "array",
                                    "items": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  },
                                  {
                                    "maxItems": 2,
                                    "minItems": 2,
                                    "type": "array",
                                    "items": [
                                      {
                                        "type": "integer"
                                      },
                                      {
                                        "type": "integer"
                                      }
                                    ]
                                  },
                                  {
                                    "maxItems": 2,
                                    "minItems": 2,
                                    "type": "array",
                                    "items": [
                                      {
                                        "type": "integer"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  },
                                  {
                                    "maxItems": 2,
                                    "minItems": 2,
                                    "type": "array",
                                    "items": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "integer"
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "enum": [
                                        "true",
                                        "false"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "string"
                                    }
                                  ]
                                }
                              }
                            }
                          ],
                          "description": "Data for the filter.",
                          "bq_type": "STRING"
                        },
                        "meta": {
                          "title": "Meta",
                          "anyOf": [
                            {
                              "title": "RangeFilterMeta",
                              "required": [
                                "min",
                                "max"
                              ],
                              "type": "object",
                              "properties": {
                                "group_title": {
                                  "title": "Group Title",
                                  "type": "string",
                                  "description": "Title of the group, where a group consists of all the filters that share an ID."
                                },
                                "group_expanded": {
                                  "title": "Group Expanded",
                                  "type": "boolean",
                                  "description": "Whether the filter group should be expanded by default or not."
                                },
                                "type": {
                                  "title": "Type",
                                  "enum": [
                                    "range"
                                  ],
                                  "type": "string",
                                  "default": "range"
                                },
                                "min": {
                                  "title": "Min",
                                  "type": "number",
                                  "description": "The minimum value that can be selected in the range."
                                },
                                "max": {
                                  "title": "Max",
                                  "type": "number",
                                  "description": "The maximum value that can be selected in the range."
                                },
                                "unit": {
                                  "title": "Unit",
                                  "type": "string",
                                  "description": "The unit of the range values."
                                },
                                "currency": {
                                  "title": "Currency",
                                  "type": "string",
                                  "description": "The currency of the range values."
                                }
                              },
                              "additionalProperties": false
                            },
                            {
                              "title": "ValuesFilterMeta",
                              "required": [
                                "values"
                              ],
                              "type": "object",
                              "properties": {
                                "group_title": {
                                  "title": "Group Title",
                                  "type": "string",
                                  "description": "Title of the group, where a group consists of all the filters that share an ID."
                                },
                                "group_expanded": {
                                  "title": "Group Expanded",
                                  "type": "boolean",
                                  "description": "Whether the filter group should be expanded by default or not."
                                },
                                "type": {
                                  "title": "Type",
                                  "enum": [
                                    "radio",
                                    "checkbox",
                                    "checkbox-grid"
                                  ],
                                  "type": "string",
                                  "description": "Type of filter.",
                                  "default": "checkbox"
                                },
                                "values": {
                                  "title": "Values",
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "enum": [
                                          "true",
                                          "false"
                                        ],
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "integer"
                                      },
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "maxItems": 2,
                                        "minItems": 2,
                                        "type": "array",
                                        "items": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "number"
                                          }
                                        ]
                                      },
                                      {
                                        "maxItems": 2,
                                        "minItems": 2,
                                        "type": "array",
                                        "items": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "integer"
                                          }
                                        ]
                                      },
                                      {
                                        "maxItems": 2,
                                        "minItems": 2,
                                        "type": "array",
                                        "items": [
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "number"
                                          }
                                        ]
                                      },
                                      {
                                        "maxItems": 2,
                                        "minItems": 2,
                                        "type": "array",
                                        "items": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "integer"
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  "description": "Selectable values"
                                },
                                "counts": {
                                  "title": "Counts",
                                  "type": "array",
                                  "items": {
                                    "type": "integer"
                                  },
                                  "description": "Counts for values"
                                },
                                "names": {
                                  "title": "Names",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Names for values"
                                }
                              },
                              "additionalProperties": false
                            },
                            {
                              "title": "HierarchicalValuesFilterMeta",
                              "required": [
                                "values"
                              ],
                              "type": "object",
                              "properties": {
                                "group_title": {
                                  "title": "Group Title",
                                  "type": "string",
                                  "description": "Title of the group, where a group consists of all the filters that share an ID."
                                },
                                "group_expanded": {
                                  "title": "Group Expanded",
                                  "type": "boolean",
                                  "description": "Whether the filter group should be expanded by default or not."
                                },
                                "type": {
                                  "title": "Type",
                                  "enum": [
                                    "checkbox-hierarchical"
                                  ],
                                  "type": "string",
                                  "default": "checkbox-hierarchical"
                                },
                                "values": {
                                  "title": "Values",
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {
                                          "enum": [
                                            "true",
                                            "false"
                                          ],
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "integer"
                                        },
                                        {
                                          "type": "string"
                                        }
                                      ]
                                    }
                                  },
                                  "description": "Selectable hierarchical values"
                                },
                                "counts": {
                                  "title": "Counts",
                                  "type": "array",
                                  "items": {
                                    "type": "integer"
                                  },
                                  "description": "Counts for values"
                                },
                                "names": {
                                  "title": "Names",
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Names for hierarchical values"
                                }
                              },
                              "additionalProperties": false
                            }
                          ],
                          "description": "Metadata about the filter that can be used for rendering. For example, this could contain the possible values to filter by and their counts in the results.",
                          "bq_exclude": true
                        },
                        "id": {
                          "title": "Id",
                          "type": "string",
                          "description": "ID of the filter. If multiple filters share the same ID, they should be grouped together in the UI.",
                          "bq_exclude": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "List of filters to apply to the results.",
                    "bq_type": "JSON_DUMPS"
                  },
                  "sort": {
                    "title": "Sort",
                    "allOf": [
                      {
                        "title": "SortModel",
                        "required": [
                          "field",
                          "order"
                        ],
                        "type": "object",
                        "properties": {
                          "field": {
                            "title": "Field",
                            "type": "string",
                            "description": "The field to sort by.",
                            "bq_type": "STRING"
                          },
                          "order": {
                            "allOf": [
                              {
                                "title": "SortingOrder",
                                "enum": [
                                  "asc",
                                  "desc"
                                ],
                                "type": "string",
                                "description": "An enumeration."
                              }
                            ],
                            "description": "The order to sort by.",
                            "bq_type": "STRING"
                          },
                          "meta": {
                            "title": "Meta",
                            "allOf": [
                              {
                                "title": "SortMeta",
                                "required": [
                                  "title"
                                ],
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "title": "Title",
                                    "type": "string"
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "title": "SortingOrder",
                                      "enum": [
                                        "asc",
                                        "desc"
                                      ],
                                      "type": "string",
                                      "description": "An enumeration."
                                    },
                                    "description": "Selectable values"
                                  },
                                  "names": {
                                    "title": "Names",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Names for orders"
                                  }
                                },
                                "additionalProperties": false
                              }
                            ],
                            "description": "Metadata about the sort that can be used for rendering. ",
                            "bq_exclude": true
                          }
                        },
                        "additionalProperties": false
                      }
                    ],
                    "description": "Specifies the sorting method. By default, the results are ordered by relevance. To find the possible values for this field, query the endpoint and look at the `sorts` field.",
                    "bq_type": ""
                  },
                  "user_id": {
                    "title": "User Id",
                    "minLength": 1,
                    "type": "string",
                    "description": "User identifier",
                    "bq_type": "STRING"
                  },
                  "session_id": {
                    "title": "Session Id",
                    "minLength": 1,
                    "type": "string",
                    "description": "Session identifier",
                    "bq_type": "STRING"
                  },
                  "dsid": {
                    "title": "Dsid",
                    "minLength": 1,
                    "type": "string",
                    "description": "Populated for integrations performed by Depict.ai only. Depict.ai Session Id",
                    "bq_type": "STRING"
                  },
                  "metadata": {
                    "title": "Metadata",
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Metadata that can be used to modify the behaviour of the search.",
                    "bq_type": "JSON_DUMPS",
                    "bq_skip_write": true
                  },
                  "query": {
                    "title": "Query",
                    "type": "string",
                    "description": "The search query.",
                    "bq_type": "STRING"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SearchResponse",
                  "required": [
                    "n_hits",
                    "displays",
                    "search_request_id"
                  ],
                  "type": "object",
                  "properties": {
                    "n_hits": {
                      "title": "N Hits",
                      "type": "integer",
                      "description": "Total number of results for this query. Not necessarily exact.",
                      "bq_type": "INTEGER"
                    },
                    "displays": {
                      "title": "Displays",
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "The search results.",
                      "bq_type": "JSON_DUMPS"
                    },
                    "sorts": {
                      "title": "Sorts",
                      "type": "array",
                      "items": {
                        "title": "SortModel",
                        "required": [
                          "field",
                          "order"
                        ],
                        "type": "object",
                        "properties": {
                          "field": {
                            "title": "Field",
                            "type": "string",
                            "description": "The field to sort by.",
                            "bq_type": "STRING"
                          },
                          "order": {
                            "allOf": [
                              {
                                "title": "SortingOrder",
                                "enum": [
                                  "asc",
                                  "desc"
                                ],
                                "type": "string",
                                "description": "An enumeration."
                              }
                            ],
                            "description": "The order to sort by.",
                            "bq_type": "STRING"
                          },
                          "meta": {
                            "title": "Meta",
                            "allOf": [
                              {
                                "title": "SortMeta",
                                "required": [
                                  "title"
                                ],
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "title": "Title",
                                    "type": "string"
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "title": "SortingOrder",
                                      "enum": [
                                        "asc",
                                        "desc"
                                      ],
                                      "type": "string",
                                      "description": "An enumeration."
                                    },
                                    "description": "Selectable values"
                                  },
                                  "names": {
                                    "title": "Names",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Names for orders"
                                  }
                                },
                                "additionalProperties": false
                              }
                            ],
                            "description": "Metadata about the sort that can be used for rendering. ",
                            "bq_exclude": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Available methods for sorting the response. Any element from this list can be sent as `sort` in subsequent requests.",
                      "bq_type": ""
                    },
                    "filters": {
                      "title": "Filters",
                      "type": "array",
                      "items": {
                        "title": "SearchFilter",
                        "required": [
                          "field",
                          "op"
                        ],
                        "type": "object",
                        "properties": {
                          "field": {
                            "title": "Field",
                            "type": "string",
                            "description": "The field to filter by.",
                            "bq_type": "STRING"
                          },
                          "op": {
                            "title": "Op",
                            "enum": [
                              "eq",
                              "neq",
                              "in",
                              "nin",
                              "leq",
                              "geq",
                              "inrange"
                            ],
                            "type": "string",
                            "description": "The operation used for filtering. The filtering should be read as `field op data`, for example `brand in [\\\"Nike\\\", \\\"Adidas\\\"]`.",
                            "bq_type": "STRING"
                          },
                          "data": {
                            "title": "Data",
                            "anyOf": [
                              {
                                "enum": [
                                  "true",
                                  "false"
                                ],
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "integer"
                              },
                              {
                                "type": "string"
                              },
                              {
                                "maxItems": 2,
                                "minItems": 2,
                                "type": "array",
                                "items": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              {
                                "maxItems": 2,
                                "minItems": 2,
                                "type": "array",
                                "items": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "integer"
                                  }
                                ]
                              },
                              {
                                "maxItems": 2,
                                "minItems": 2,
                                "type": "array",
                                "items": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              {
                                "maxItems": 2,
                                "minItems": 2,
                                "type": "array",
                                "items": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "integer"
                                  }
                                ]
                              },
                              {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "enum": [
                                        "true",
                                        "false"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "maxItems": 2,
                                      "minItems": 2,
                                      "type": "array",
                                      "items": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "number"
                                        }
                                      ]
                                    },
                                    {
                                      "maxItems": 2,
                                      "minItems": 2,
                                      "type": "array",
                                      "items": [
                                        {
                                          "type": "integer"
                                        },
                                        {
                                          "type": "integer"
                                        }
                                      ]
                                    },
                                    {
                                      "maxItems": 2,
                                      "minItems": 2,
                                      "type": "array",
                                      "items": [
                                        {
                                          "type": "integer"
                                        },
                                        {
                                          "type": "number"
                                        }
                                      ]
                                    },
                                    {
                                      "maxItems": 2,
                                      "minItems": 2,
                                      "type": "array",
                                      "items": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "integer"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "enum": [
                                          "true",
                                          "false"
                                        ],
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "integer"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                }
                              }
                            ],
                            "description": "Data for the filter.",
                            "bq_type": "STRING"
                          },
                          "meta": {
                            "title": "Meta",
                            "anyOf": [
                              {
                                "title": "RangeFilterMeta",
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "type": "object",
                                "properties": {
                                  "group_title": {
                                    "title": "Group Title",
                                    "type": "string",
                                    "description": "Title of the group, where a group consists of all the filters that share an ID."
                                  },
                                  "group_expanded": {
                                    "title": "Group Expanded",
                                    "type": "boolean",
                                    "description": "Whether the filter group should be expanded by default or not."
                                  },
                                  "type": {
                                    "title": "Type",
                                    "enum": [
                                      "range"
                                    ],
                                    "type": "string",
                                    "default": "range"
                                  },
                                  "min": {
                                    "title": "Min",
                                    "type": "number",
                                    "description": "The minimum value that can be selected in the range."
                                  },
                                  "max": {
                                    "title": "Max",
                                    "type": "number",
                                    "description": "The maximum value that can be selected in the range."
                                  },
                                  "unit": {
                                    "title": "Unit",
                                    "type": "string",
                                    "description": "The unit of the range values."
                                  },
                                  "currency": {
                                    "title": "Currency",
                                    "type": "string",
                                    "description": "The currency of the range values."
                                  }
                                },
                                "additionalProperties": false
                              },
                              {
                                "title": "ValuesFilterMeta",
                                "required": [
                                  "values"
                                ],
                                "type": "object",
                                "properties": {
                                  "group_title": {
                                    "title": "Group Title",
                                    "type": "string",
                                    "description": "Title of the group, where a group consists of all the filters that share an ID."
                                  },
                                  "group_expanded": {
                                    "title": "Group Expanded",
                                    "type": "boolean",
                                    "description": "Whether the filter group should be expanded by default or not."
                                  },
                                  "type": {
                                    "title": "Type",
                                    "enum": [
                                      "radio",
                                      "checkbox",
                                      "checkbox-grid"
                                    ],
                                    "type": "string",
                                    "description": "Type of filter.",
                                    "default": "checkbox"
                                  },
                                  "values": {
                                    "title": "Values",
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {
                                          "enum": [
                                            "true",
                                            "false"
                                          ],
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "integer"
                                        },
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "maxItems": 2,
                                          "minItems": 2,
                                          "type": "array",
                                          "items": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "number"
                                            }
                                          ]
                                        },
                                        {
                                          "maxItems": 2,
                                          "minItems": 2,
                                          "type": "array",
                                          "items": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "integer"
                                            }
                                          ]
                                        },
                                        {
                                          "maxItems": 2,
                                          "minItems": 2,
                                          "type": "array",
                                          "items": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "number"
                                            }
                                          ]
                                        },
                                        {
                                          "maxItems": 2,
                                          "minItems": 2,
                                          "type": "array",
                                          "items": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "integer"
                                            }
                                          ]
                                        }
                                      ]
                                    },
                                    "description": "Selectable values"
                                  },
                                  "counts": {
                                    "title": "Counts",
                                    "type": "array",
                                    "items": {
                                      "type": "integer"
                                    },
                                    "description": "Counts for values"
                                  },
                                  "names": {
                                    "title": "Names",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Names for values"
                                  }
                                },
                                "additionalProperties": false
                              },
                              {
                                "title": "HierarchicalValuesFilterMeta",
                                "required": [
                                  "values"
                                ],
                                "type": "object",
                                "properties": {
                                  "group_title": {
                                    "title": "Group Title",
                                    "type": "string",
                                    "description": "Title of the group, where a group consists of all the filters that share an ID."
                                  },
                                  "group_expanded": {
                                    "title": "Group Expanded",
                                    "type": "boolean",
                                    "description": "Whether the filter group should be expanded by default or not."
                                  },
                                  "type": {
                                    "title": "Type",
                                    "enum": [
                                      "checkbox-hierarchical"
                                    ],
                                    "type": "string",
                                    "default": "checkbox-hierarchical"
                                  },
                                  "values": {
                                    "title": "Values",
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "enum": [
                                              "true",
                                              "false"
                                            ],
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "string"
                                          }
                                        ]
                                      }
                                    },
                                    "description": "Selectable hierarchical values"
                                  },
                                  "counts": {
                                    "title": "Counts",
                                    "type": "array",
                                    "items": {
                                      "type": "integer"
                                    },
                                    "description": "Counts for values"
                                  },
                                  "names": {
                                    "title": "Names",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Names for hierarchical values"
                                  }
                                },
                                "additionalProperties": false
                              }
                            ],
                            "description": "Metadata about the filter that can be used for rendering. For example, this could contain the possible values to filter by and their counts in the results.",
                            "bq_exclude": true
                          },
                          "id": {
                            "title": "Id",
                            "type": "string",
                            "description": "ID of the filter. If multiple filters share the same ID, they should be grouped together in the UI.",
                            "bq_exclude": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Available filters that can be used for filtering in the subsequent request.",
                      "bq_exclude": true
                    },
                    "search_request_id": {
                      "title": "Search Request Id",
                      "type": "string",
                      "bq_type": "STRING"
                    },
                    "cursor": {
                      "title": "Cursor",
                      "maxLength": 500,
                      "type": "string",
                      "description": "Cursor that can be used in the next request to get subsequent results. If this is not set, there are no more results.",
                      "bq_type": "STRING"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            }
                          },
                          "msg": {
                            "title": "Message",
                            "type": "string"
                          },
                          "type": {
                            "title": "Error Type",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyQuery": []
          },
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyCookie": []
          }
        ]
      }
    },
    "/v2/search/suggestions": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Get Suggestions",
        "description": "Returns suggestions for a given query. Call this while the user is typing to help\\nthe user find what they're looking for. The suggestions are of two types:\\n- suggestions for search queries that are related to the current query\\n- suggestions for categories that are related to the current query\\n\\nExample response:\\n<pre>\\n{\\n  \\\"suggestions_request_id\\\": \\\"c6fa5efd-1bde-43a8-9ac4-434605f53024\\\",\\n  \\\"suggestions\\\": [\\n    {\\n      \\\"type\\\": \\\"query\\\",\\n      \\\"title\\\": \\\"red hat\\\",\\n      \\\"suggestions_result_id\\\": \\\"60c54958-8f2d-4ffd-a343-d316e79593b8\\\"\\n    },\\n    {\\n      \\\"category_id\\\": \\\"sweaters-hoodies\\\",\\n      \\\"title\\\": \\\"Sweaters & Hoodies\\\",\\n      \\\"page_url\\\": \\\"https://foobar.com/sweaters-hoodies\\\",\\n      \\\"type\\\": \\\"category\\\",\\n      \\\"suggestions_result_id\\\": \\\"b11ee4a9-0d95-4559-b1fa-76479ca3e3ea\\\"\\n    }\\n  ]\\n}\\n</pre>",
        "operationId": "Get_suggestions_v2_search_suggestions_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Tenant",
              "type": "string"
            },
            "name": "tenant",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Market",
              "type": "string"
            },
            "name": "market",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Query",
              "type": "string"
            },
            "name": "query",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "User Id",
              "minLength": 1,
              "type": "string"
            },
            "name": "user_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Session Id",
              "minLength": 1,
              "type": "string"
            },
            "name": "session_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dsid",
              "minLength": 1,
              "type": "string"
            },
            "name": "dsid",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Metadata"
            },
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SearchSuggestionsResponse",
                  "required": [
                    "suggestions_request_id",
                    "suggestions"
                  ],
                  "type": "object",
                  "properties": {
                    "suggestions_request_id": {
                      "title": "Suggestions Request Id",
                      "type": "string",
                      "bq_type": "STRING"
                    },
                    "suggestions": {
                      "title": "Suggestions",
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "title": "QuerySuggestion",
                            "required": [
                              "title",
                              "suggestions_result_id"
                            ],
                            "type": "object",
                            "properties": {
                              "type": {
                                "title": "Type",
                                "enum": [
                                  "query"
                                ],
                                "type": "string",
                                "default": "query",
                                "bq_type": "STRING"
                              },
                              "title": {
                                "title": "Title",
                                "type": "string",
                                "description": "Title for suggestion.",
                                "bq_type": "STRING"
                              },
                              "suggestions_result_id": {
                                "title": "Suggestions Result Id",
                                "type": "string",
                                "bq_type": "STRING"
                              }
                            },
                            "additionalProperties": false
                          },
                          {
                            "title": "CategorySuggestion",
                            "required": [
                              "category_id",
                              "title",
                              "page_url",
                              "filter",
                              "suggestions_result_id"
                            ],
                            "type": "object",
                            "properties": {
                              "category_id": {
                                "title": "Category Id",
                                "type": "string",
                                "description": "Unique identifier of the category."
                              },
                              "title": {
                                "title": "Title",
                                "type": "string",
                                "description": "The title of the category"
                              },
                              "page_url": {
                                "title": "Page Url",
                                "maxLength": 2083,
                                "minLength": 1,
                                "type": "string",
                                "description": "The full URL to the category page",
                                "format": "uri"
                              },
                              "query_id": {
                                "title": "Query Id",
                                "type": "string",
                                "description": "Optionally a unique query ID for the category"
                              },
                              "uri": {
                                "title": "Uri",
                                "type": "string",
                                "description": "Optionally a unique URI for the category, for example men/shoes"
                              },
                              "category_type": {
                                "allOf": [
                                  {
                                    "title": "ECategoryType",
                                    "enum": [
                                      "TAG",
                                      "CATEGORY",
                                      "TENANT_CATEGORY",
                                      "TENANT_SECONDARY_CATEGORY",
                                      "CAMPAIGN"
                                    ],
                                    "type": "string",
                                    "description": "An enumeration."
                                  }
                                ],
                                "description": "The type of category, for example CAMPAIGN, TAG, or CATEGORY",
                                "default": "CATEGORY"
                              },
                              "type": {
                                "title": "Type",
                                "enum": [
                                  "category"
                                ],
                                "type": "string",
                                "description": "type",
                                "default": "category",
                                "bq_type": "STRING"
                              },
                              "filter": {
                                "title": "Filter",
                                "allOf": [
                                  {
                                    "title": "SearchFilter",
                                    "required": [
                                      "field",
                                      "op"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "field": {
                                        "title": "Field",
                                        "type": "string",
                                        "description": "The field to filter by.",
                                        "bq_type": "STRING"
                                      },
                                      "op": {
                                        "title": "Op",
                                        "enum": [
                                          "eq",
                                          "neq",
                                          "in",
                                          "nin",
                                          "leq",
                                          "geq",
                                          "inrange"
                                        ],
                                        "type": "string",
                                        "description": "The operation used for filtering. The filtering should be read as `field op data`, for example `brand in [\\\"Nike\\\", \\\"Adidas\\\"]`.",
                                        "bq_type": "STRING"
                                      },
                                      "data": {
                                        "title": "Data",
                                        "anyOf": [
                                          {
                                            "enum": [
                                              "true",
                                              "false"
                                            ],
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "integer"
                                          },
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "maxItems": 2,
                                            "minItems": 2,
                                            "type": "array",
                                            "items": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "number"
                                              }
                                            ]
                                          },
                                          {
                                            "maxItems": 2,
                                            "minItems": 2,
                                            "type": "array",
                                            "items": [
                                              {
                                                "type": "integer"
                                              },
                                              {
                                                "type": "integer"
                                              }
                                            ]
                                          },
                                          {
                                            "maxItems": 2,
                                            "minItems": 2,
                                            "type": "array",
                                            "items": [
                                              {
                                                "type": "integer"
                                              },
                                              {
                                                "type": "number"
                                              }
                                            ]
                                          },
                                          {
                                            "maxItems": 2,
                                            "minItems": 2,
                                            "type": "array",
                                            "items": [
                                              {
                                                "type": "number"
                                              },
                                              {
                                                "type": "integer"
                                              }
                                            ]
                                          },
                                          {
                                            "type": "array",
                                            "items": {
                                              "anyOf": [
                                                {
                                                  "enum": [
                                                    "true",
                                                    "false"
                                                  ],
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "number"
                                                },
                                                {
                                                  "type": "integer"
                                                },
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "maxItems": 2,
                                                  "minItems": 2,
                                                  "type": "array",
                                                  "items": [
                                                    {
                                                      "type": "number"
                                                    },
                                                    {
                                                      "type": "number"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "maxItems": 2,
                                                  "minItems": 2,
                                                  "type": "array",
                                                  "items": [
                                                    {
                                                      "type": "integer"
                                                    },
                                                    {
                                                      "type": "integer"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "maxItems": 2,
                                                  "minItems": 2,
                                                  "type": "array",
                                                  "items": [
                                                    {
                                                      "type": "integer"
                                                    },
                                                    {
                                                      "type": "number"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "maxItems": 2,
                                                  "minItems": 2,
                                                  "type": "array",
                                                  "items": [
                                                    {
                                                      "type": "number"
                                                    },
                                                    {
                                                      "type": "integer"
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          },
                                          {
                                            "type": "array",
                                            "items": {
                                              "type": "array",
                                              "items": {
                                                "anyOf": [
                                                  {
                                                    "enum": [
                                                      "true",
                                                      "false"
                                                    ],
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "number"
                                                  },
                                                  {
                                                    "type": "integer"
                                                  },
                                                  {
                                                    "type": "string"
                                                  }
                                                ]
                                              }
                                            }
                                          }
                                        ],
                                        "description": "Data for the filter.",
                                        "bq_type": "STRING"
                                      },
                                      "meta": {
                                        "title": "Meta",
                                        "anyOf": [
                                          {
                                            "title": "RangeFilterMeta",
                                            "required": [
                                              "min",
                                              "max"
                                            ],
                                            "type": "object",
                                            "properties": {
                                              "group_title": {
                                                "title": "Group Title",
                                                "type": "string",
                                                "description": "Title of the group, where a group consists of all the filters that share an ID."
                                              },
                                              "group_expanded": {
                                                "title": "Group Expanded",
                                                "type": "boolean",
                                                "description": "Whether the filter group should be expanded by default or not."
                                              },
                                              "type": {
                                                "title": "Type",
                                                "enum": [
                                                  "range"
                                                ],
                                                "type": "string",
                                                "default": "range"
                                              },
                                              "min": {
                                                "title": "Min",
                                                "type": "number",
                                                "description": "The minimum value that can be selected in the range."
                                              },
                                              "max": {
                                                "title": "Max",
                                                "type": "number",
                                                "description": "The maximum value that can be selected in the range."
                                              },
                                              "unit": {
                                                "title": "Unit",
                                                "type": "string",
                                                "description": "The unit of the range values."
                                              },
                                              "currency": {
                                                "title": "Currency",
                                                "type": "string",
                                                "description": "The currency of the range values."
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          {
                                            "title": "ValuesFilterMeta",
                                            "required": [
                                              "values"
                                            ],
                                            "type": "object",
                                            "properties": {
                                              "group_title": {
                                                "title": "Group Title",
                                                "type": "string",
                                                "description": "Title of the group, where a group consists of all the filters that share an ID."
                                              },
                                              "group_expanded": {
                                                "title": "Group Expanded",
                                                "type": "boolean",
                                                "description": "Whether the filter group should be expanded by default or not."
                                              },
                                              "type": {
                                                "title": "Type",
                                                "enum": [
                                                  "radio",
                                                  "checkbox",
                                                  "checkbox-grid"
                                                ],
                                                "type": "string",
                                                "description": "Type of filter.",
                                                "default": "checkbox"
                                              },
                                              "values": {
                                                "title": "Values",
                                                "type": "array",
                                                "items": {
                                                  "anyOf": [
                                                    {
                                                      "enum": [
                                                        "true",
                                                        "false"
                                                      ],
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "number"
                                                    },
                                                    {
                                                      "type": "integer"
                                                    },
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "maxItems": 2,
                                                      "minItems": 2,
                                                      "type": "array",
                                                      "items": [
                                                        {
                                                          "type": "number"
                                                        },
                                                        {
                                                          "type": "number"
                                                        }
                                                      ]
                                                    },
                                                    {
                                                      "maxItems": 2,
                                                      "minItems": 2,
                                                      "type": "array",
                                                      "items": [
                                                        {
                                                          "type": "integer"
                                                        },
                                                        {
                                                          "type": "integer"
                                                        }
                                                      ]
                                                    },
                                                    {
                                                      "maxItems": 2,
                                                      "minItems": 2,
                                                      "type": "array",
                                                      "items": [
                                                        {
                                                          "type": "integer"
                                                        },
                                                        {
                                                          "type": "number"
                                                        }
                                                      ]
                                                    },
                                                    {
                                                      "maxItems": 2,
                                                      "minItems": 2,
                                                      "type": "array",
                                                      "items": [
                                                        {
                                                          "type": "number"
                                                        },
                                                        {
                                                          "type": "integer"
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                },
                                                "description": "Selectable values"
                                              },
                                              "counts": {
                                                "title": "Counts",
                                                "type": "array",
                                                "items": {
                                                  "type": "integer"
                                                },
                                                "description": "Counts for values"
                                              },
                                              "names": {
                                                "title": "Names",
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "Names for values"
                                              }
                                            },
                                            "additionalProperties": false
                                          },
                                          {
                                            "title": "HierarchicalValuesFilterMeta",
                                            "required": [
                                              "values"
                                            ],
                                            "type": "object",
                                            "properties": {
                                              "group_title": {
                                                "title": "Group Title",
                                                "type": "string",
                                                "description": "Title of the group, where a group consists of all the filters that share an ID."
                                              },
                                              "group_expanded": {
                                                "title": "Group Expanded",
                                                "type": "boolean",
                                                "description": "Whether the filter group should be expanded by default or not."
                                              },
                                              "type": {
                                                "title": "Type",
                                                "enum": [
                                                  "checkbox-hierarchical"
                                                ],
                                                "type": "string",
                                                "default": "checkbox-hierarchical"
                                              },
                                              "values": {
                                                "title": "Values",
                                                "type": "array",
                                                "items": {
                                                  "type": "array",
                                                  "items": {
                                                    "anyOf": [
                                                      {
                                                        "enum": [
                                                          "true",
                                                          "false"
                                                        ],
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "number"
                                                      },
                                                      {
                                                        "type": "integer"
                                                      },
                                                      {
                                                        "type": "string"
                                                      }
                                                    ]
                                                  }
                                                },
                                                "description": "Selectable hierarchical values"
                                              },
                                              "counts": {
                                                "title": "Counts",
                                                "type": "array",
                                                "items": {
                                                  "type": "integer"
                                                },
                                                "description": "Counts for values"
                                              },
                                              "names": {
                                                "title": "Names",
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "description": "Names for hierarchical values"
                                              }
                                            },
                                            "additionalProperties": false
                                          }
                                        ],
                                        "description": "Metadata about the filter that can be used for rendering. For example, this could contain the possible values to filter by and their counts in the results.",
                                        "bq_exclude": true
                                      },
                                      "id": {
                                        "title": "Id",
                                        "type": "string",
                                        "description": "ID of the filter. If multiple filters share the same ID, they should be grouped together in the UI.",
                                        "bq_exclude": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                ],
                                "bq_exclude": true
                              },
                              "suggestions_result_id": {
                                "title": "Suggestions Result Id",
                                "type": "string",
                                "bq_type": "STRING"
                              }
                            }
                          }
                        ]
                      },
                      "description": "List of suggestions for search queries that should be shown to the user while they are typing.",
                      "bq_type": "JSON_DUMPS"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "HTTPValidationError",
                  "type": "object",
                  "properties": {
                    "detail": {
                      "title": "Detail",
                      "type": "array",
                      "items": {
                        "title": "ValidationError",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "type": "object",
                        "properties": {
                          "loc": {
                            "title": "Location",
                            "type": "array",
                            "items": {
[...]
